body {
    font-family: roboto, sans-serif;
    margin: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: #202020;
    color: white;
}

/* Fixed Bar Along Top w ^ To Return Top */
.logo {
    display: flex;
    justify-content: space-around;
    align-items:center;
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 24px;
    background-color: black;
    padding: 8px 0px;
}

.logo a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

h1, h2, h3 {
    text-align: center;
    margin: 0;
    padding: 0 3%;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 34px;
    background-image: url("./pictures/weights.JPG");
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 500px;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    list-style: none;
    text-align: right;
    background-color: rgba(32, 32, 32, .8);
    padding: 8px;
    padding-right: 3%;
    margin: 0;
    height: 200px;
}

.menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1rem;
}

footer {
    margin-top: 20%;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 10%;
    text-align: center;
    font-size: 10px;
}

/* ----------- ABOVE THIS IS STANDARD STYLE TEMPLATE -----------  */

.main-container {
    padding: 3%;
    gap: 8px;
    max-width: 90dw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.testimonials {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 48px;
}

.testimony {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.portrait {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    border-color: #2d95ec;
}

.text {
    font-size: 16px;
    text-align: center;
    width: 275px;
}



