body {
    font-family: roboto, sans-serif;
    margin: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: #202020;
    color: white;
}

/* Top Section with header, signup button and main image */

.logo {
    font-size: 26px;
    font-weight: bold;
    flex-shrink: 0;
    padding: 1% 3%;
}

#return { /* Remove the ^ return key on desktop */
    display: none;
}

.top {
    position: absolute;
    top: 0;
    background-color: #202020;
    color: #E5E7EB;
    right: 0;
    padding: 1% 3%;

}

.menu {
    display: flex;
    justify-content: flex-end;
    font-size: 22px;
    font-weight: bold;
    margin-right: 0;
    gap: 2rem;
}

h1, h2, h3 {
    text-align: center;
    margin: 0;
    padding: 0 3%;
}

ul {
    list-style: none;
    display: flex;
    gap: 16px;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: white;
}

p {
    font-size: 18px;
    color: white;
}

ul {
    list-style: none;
    display: flex;
    gap: 16px;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: white;
}

p {
    font-size: 18px;
    color: white;
}

/* Footer with copyright */

footer {
    margin-top: 10%;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 1%;
    text-align: center;
    font-size: 12px;
}

/* ----------- ABOVE THIS IS STANDARD STYLE TEMPLATE -----------  */

.main-container {
    margin-top: 2%;
}

