body {
    font-family: roboto, sans-serif;
    margin: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: #202020;
    color: white;
}

/* Top Section with header, signup button and main image */

.logo {
    font-size: 26px;
    font-weight: bold;
    flex-shrink: 0;
    padding: 1% 3%;
}

#return { /* Remove the ^ return key on desktop */
    display: none;
}

.top {
    position: absolute;
    top: 0;
    background-color: #202020;
    color: #E5E7EB;
    right: 0;
    padding: 1% 3%;

}

.menu {
    display: flex;
    justify-content: flex-end;
    font-size: 22px;
    font-weight: bold;
    margin-right: 0;
    gap: 2rem;
}


.hero {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0px;
    padding: 0px;
}

.signup {
    margin-top: 2%;
    background-image: url("./pictures/weights.JPG");
    background-position: right;
}

.signupleft {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    background-color: #202020;
    padding: 1% 3%;
}

.signupleft p {
    font-size: 22px;
}

h1, h2, h3 {
    text-align: center;
    margin: 0;
    padding: 0 3%;
}

/* Second section with "programs for any goal" and flexed icons */

.goals {
    margin-top: 32px;
    margin-bottom: 32px;
    margin-left: 10%;
    margin-right: 10%;
}

.programs, .goals {
    font-size: 48px;
    text-align: center;
    color: #202020;
}

.squares {
    display: flex;
    justify-content: space-evenly;
    font-size: 24px;
}

.squares div {
    width: 300px;
}

/* Third section with italic quote/testimonial and picture */

.quote {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    background-color: #202020;
    color:#E5E7EB;

    padding: 24px 15%;

}

.quote p {
    font-size: 36px;
    font-style: italic;
}

.matt {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    font-size: 36px;
    margin-right: 48px;
}

.quote .matt p {
    font-style: normal;
    font-weight: bold;
}

img.matt {
    height: 250px;
    border-radius: 50%;
}

/* Last section with call to action and second signup button */

.action {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 64px;
    margin-bottom: 64px;
    margin-left: 15%;
    margin-right: 15%;
    color:#E5E7EB;
    gap: 16px;

}

.actionleft {
    background-color: #3882F6;
    flex-grow: 0;
    flex-wrap: wrap;
    min-width: 450px;
    border-radius: 5%/15%;
    padding: 32px;

}

.actionright {
    flex-shrink: 0;
}

.button {
    display: block;
    max-width: fit-content;
    font-size: 24px;
    font-weight: bold;
    background-color: #3882F6;
    border-radius: 5%/15%;  
    padding: 16px 48px;
}

ul {
    list-style: none;
    display: flex;
    gap: 16px;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

p {
    font-size: 18px;
    color: #E5E7EB;
}

/* Footer with copyright */

footer {
    background-color: #1F2937;
    padding: 16px;
    text-align: center;
    color: #E5E7EB;
}